.icon-img {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;   
}

.icon-img-search {
    width: .3rem;
    height: .3rem;
    background-image: url('../assets/img/search_03.png');
}

.icon-img-search2 {
    width: .3rem;
    height: .3rem;
    background-image: url('../assets/img/search_04.png');
}

.icon-img-label-v {
    width: .26rem;
    height: .26rem;
    background-image: url('../assets/img/m_block98k_17.png');
}

.icon-img-nav {
    width: .5rem;
    height: .5rem;
    background-image: url('../assets/img/m_block98k_21.png');
}

.icon-img-flash {
    width: .5rem;
    height: .5rem;
    background-image: url('../assets/img/m_block98k_23.png');
}

.icon-img-back {
    width: .21rem;
    height: .34rem;
    background-image: url('../assets/img/back_03.png');
}