 @import './reset.scss';
//  @import './util.scss';
 @import './icon.scss';

 html,
 body {
     width: 100%;
     height: 100%;
     color: #4e4e4e;
     font-size: .26rem;
     background: #f1f1f1;
 }

#root{
    position: relative;
    margin: 0 auto;
    max-width: 750px;
    height: 100%;
}

 /* clearfix [清除浮动]*/
 .clearfix:before,
 .clearfix:after {
     content: "";
     display: table;
 }
 
 .clearfix:after {
     clear: both;
 }
 
 .clearfix {
     *zoom: 1;
     /*IE/7/6*/
 }
 
 .fl {
     float: left;
 }
 
 .fr {
     float: right;
 }
 
 .tl {
     text-align: left;
 }
 
 .tr {
     text-align: right;
 }
 
//单行文字溢出隐藏
.text-ov1 {
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; 
}

 //多行文字溢出隐藏
.text-ov2{
    display:-webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        overflow:hidden;
}
.text-ov3{
    display:-webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        text-overflow: ellipsis;
        overflow:hidden;
}
.text-ov4{
    display:-webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        text-overflow: ellipsis;
        overflow:hidden;
}

.img-box{
    display: block;
    overflow: hidden;
    img{
        width: 100%;
    }
}